{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "header_image.html" . }}


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ .Title | default (i18n "posts") }}</h1>

  {{ with .Content }}
  <div class="article-style" itemprop="articleBody">{{ . }}</div>
  {{ end }}

  {{ range .Data.Pages.GroupByParamDate "date" "2006" }}
  <div class="row" id="talk_list">
    <div class="col-md-2">
      <h3>{{ .Key }}</h3>
    </div>
    <div class="col-md-10">

      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
        {{ $params := dict "post" . }}
        {{ partial "post_li" $params }}
      {{ end }}

    </div>
  </div>
  {{ end }}



  <!--{{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
    {{ $params := dict "post" . }}
    {{ partial "post_li" $params }}
  {{ end }}-->

  {{ partial "pagination" . }}

    </div>
  </div>
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
